<h1>Client Database Example</h1>
<p>This application has been created in Ruby on Rails to test out this technology.</p>
<p>It seems relatively easy to come to grasps with this.</p>
<p>It is not very fancy, but makes the point.</p>
<p>The underlying technology is this:</p>
<ul>
    <li>Ruby version 2.5.1</li>
    <li>Rails version 5.2.0</li>
    <li>AdminLTE version 2.3.1 (not the latest, but there was a gem for it)</li>
    <li>PostgreSQL version 9.5.13</li>
</ul>